::selection {
  background-color: white;
  color: black;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  background: url("https://j.gifs.com/G65MKL.gif");
  /* backgr */
  /* background: linear-gradient(-45deg, blue, black, red); */
  /* background: linear-gradient(-45deg, #CCFFFF, white, #FFCCCC); */
  animation: gradient 120s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 80%;
  }
  100% {
      background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-content {
  margin-left: 5rem;
  padding: 1rem;
}