.chart-background {
    background: white;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-title {
    position: absolute;
    font-size: 80px;
}