/* .card {
    background: white;
    padding: 1rem;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 50vh;
    text-align: center;
}

.card-header {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.card-body {
    font-size: .9rem;
}

.card-footer {
    margin-top: 1rem;
}

.card-image {
    border: 1px solid black;
    border-radius: 1em;
} */

:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}

.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 600px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;   
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-face-front h2 {
    color: white;
    font-size: 32px;
}

.card-face-back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card-content {
    width: 100%;
    height: 100%;
}

.card-header {
    position: relative;
    padding: 30px 30px 40px;
}

.card-header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); 
}

.card-image {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    object-fit: cover;
}

.card-header {
    color: white;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.card-body {
    padding: 30px;
}

.card-body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.5;
}