.modals {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* z-index: 10001; Use this shit to bump it over the things */
}

.modals-box {
    width: 350px;
    height: 225px;
    border-radius: 12px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: white; /* Take out the background and figure that shhit out */
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 100;
}

.modals-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5px;
    color: #141414;
}

.modals-content p {
    margin-bottom: 1rem;
}

.modals-content button {
    padding: 10px 24px;
    background: #141414;
    color: white;
    border: none;
    border-radius: .25em;

    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 100;
}

/* Modals colors and positions */
#modals-github-link {
    position: absolute;
    left: 572px;
    background: linear-gradient(to top right, #3E84E6, #3E84E6, white);
}

#modals-favorite-foods {
    position: absolute;
    top: 115px;
    left: 520px;
    background: linear-gradient(to top right, #F2B705, #F2B705, white);
}

#modals-hobbies {
    position: absolute;
    top: 210px;
    left: 190px;
    background: linear-gradient(to top right, #EB5089, #EB5089, white);
}

#modals-current-location {
    position: absolute;
    top: 115px;
    left: -150px;
    background: linear-gradient(to top right, #AFD91A, #AFD91A, white);
}

#modals-age {
    position: absolute;
    left: -205px;
    background: linear-gradient(to top right, #F27127, #F27127, white);
}