.modals {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modals-box {
    width: 350px;
    height: 225px;
    border-radius: 15px;
    box-shadow: 0 5px 16px 4px rgba(0, 0, 0, 0.3);
    color: black;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modals-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #141414;
    width: 80%;
    height: 50%;
}

.modals-content p {
    margin-bottom: 1rem;
}

.modals-content ul {
    text-align: left;
}

.modals-content li {
    padding-left: .5em;
}

.modals-content li::marker {
    transition: 0.5s;
    content: "✔";
}

.modals-content a:link {
    color: black;
    text-decoration: underline;
}

.modals-content a:visited {
    color: white;
}

.modals-box button {
    padding: 10px 24px;
    background: #141414;
    color: white;
    border: none;
    border-radius: .25em;

    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 100;
}

/* Modals colors and positions */
#modals-github-link {
    position: absolute;
    left: 555px;
    background: linear-gradient(to top right, #3E84E6, #3E84E6, white);
}

#modals-favorite-foods {
    position: absolute;
    top: 113px;
    left: 500px;
    background: linear-gradient(to top right, #F2B705, #F2B705, white);
}

#modals-hobbies {
    position: absolute;
    top: 215px;
    left: 165px;
    background: linear-gradient(to top right, #EB5089, #EB5089, white);
}

#modals-current-location {
    position: absolute;
    top: 113px;
    left: -170px;
    background: linear-gradient(to top right, #AFD91A, #AFD91A, white);
}

#modals-age {
    position: absolute;
    left: -225px;
    background: linear-gradient(to top right, #F27127, #F27127, white);
}

#modals-flatiron-rating {
    position: absolute;
    bottom: 112px;
    left: -170px;
    background: linear-gradient(to top right, #07C7F2, #07C7F2, white);
}

#modals-interesting-fact {
    position: absolute;
    bottom: 220px;
    left: 165px;
    background: linear-gradient(to top right, #9768D1, #9768D1, white);
}

#modals-spotify-song {
    position: absolute;
    bottom: 112px;
    left: 500px;
    background: linear-gradient(to top right, #15AB88, #15AB88, white);
}