.comment-list {
    display: flex;
    /* justify-content: center; */
    padding: 3rem;
    color: white;
    overflow-x: scroll;
    margin-top: 48px;
}

.comment-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.comment-list::-webkit-scrollbar-thumb {
    /* background: #201C29;  */
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.comment-list::-webkit-scrollbar-track {
    background: black;
}

.comments-card {
    display: flex; 
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 300px;
    min-height: 400px;
    min-width: 300px;
    padding: 1.5rem;

    border-radius: 16px;
    /* background: #17141D; */
    background:rgba(255, 255, 255, 0.2);
    box-shadow: -1rem 0 2rem black;

    backdrop-filter: blur(6px);

    transition: 0.2s;
}

.comments-card:hover {
    transform: translateY(-1.5rem);
    background:rgba(255, 255, 255, 0.5);
}

/* Select all siblings AFTER the hovered card*/
.comments-card:hover~.comments-card {
    transform: translateX(130px);
}

.comments-card:not(:first-child) {
    margin-left: -130px;
}

/* .comments-card-header h2 {
    animation: namegradient 5s infinite;
}

@keyframes namegradient {
    0% {
        color: #FE4880;
    }

    50% {
        color: #FFCE00;
    }
    
    100% {
        color: #FE4880;
    }
} */

.comments-card-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.comments-card-header h2{
    margin-top: 10px;
}

.comments-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.comments-card-button-container {
    align-self: center;
}

.comments-card-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}