.comment-list {
    display: flex;
    /* justify-content: center; */
    padding: 3rem;
    color: white;
    overflow-x: scroll;
    margin-top: 48px;
}

.center-comments-cards {
    justify-content: center;
}

.comment-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.comment-list::-webkit-scrollbar-thumb {
    /* background: #201C29;  */
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.comment-list::-webkit-scrollbar-track {
    background: black;
}

.comments-card {
    display: flex; 
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 300px;
    min-height: 400px;
    min-width: 300px;
    padding: 1.5rem;

    border-radius: 16px;
    /* background: #17141D; */
    background:rgba(255, 255, 255, 0.2);
    box-shadow: -1rem 0 2rem black;

    backdrop-filter: blur(6px);

    transition: 0.2s;
}

.comments-card:hover {
    transform: translateY(-1.5rem);
    background:rgba(255, 255, 255, 0.5);
}

/* Select all siblings AFTER the hovered card*/
.comments-card:hover~.comments-card {
    transform: translateX(130px);
}

.comments-card:not(:first-child) {
    margin-left: -130px;
}

/* .comments-card-header h2 {
    animation: namegradient 5s infinite;
}

@keyframes namegradient {
    0% {
        color: #FE4880;
    }

    50% {
        color: #FFCE00;
    }
    
    100% {
        color: #FE4880;
    }
} */

.comments-card-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.comments-card-header h2{
    margin-top: 10px;
}

.comments-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.comments-card-button-container {
    align-self: center;
}

.comments-card-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}

.comments-card-button-container button {
    cursor: pointer;
    letter-spacing: .05em;
    border: .5px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: none;
}

.comments-card-button-container button:active {
    background-color:rgba(220, 220, 220, 0.5); 
    transform: translateX(1px) translateY(1px);
}

.comments-likes-pressed {
    background: #80C080;
    color: white;
}

.comments-dislikes-pressed {
    background: #FF8080;
    color: white;
}

.comments-like-button:active {
    animation: likesactive 1.75s 1;
}

@keyframes likesactive {
    0% {
        background: linear-gradient(to top right, green, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
    }
    2% {
        background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), green, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
    }
    4% {
        background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), green, rgba(220, 220, 220, 0.5));
    }
    6% {
        background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), green);
    }
    8% {
        background: rgba(220, 220, 220, 0.5);
    }
}

.comments-dislike-button:active {
    animation: dislikesactive 1.75s 1;
}

@keyframes dislikesactive {
    0% {
        background: linear-gradient(to top right, red, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
    }
    2% {
        background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), red, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
    }
    4% {
        background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), red, rgba(220, 220, 220, 0.5));
    }
    6% {
        background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), red);
    }
    8% {
        background: rgba(220, 220, 220, 0.5);
    }
}



/* One animation for the likes button/one for the dislikes button */

/*
.container .row100 .col button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: white;
  color: rgba(223, 29, 29, 0.7);
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}

.container .row100 .col button:active {
  background-color: rgb(228, 228, 240);
  color: rgba(223, 29, 29, 0.7);
} */

/* .playlist-buttons-container button {
    width: 30.1%;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 20px;
    background: linear-gradient(to top, rgb(20, 19, 19), rgb(71, 65, 65));
    color: white;
    text-align: center;
    box-shadow: 2.5px 1px 1px rgba(255, 255, 255, 0.5);
}

.playlist-buttons-container button:active {
    opacity: 0.9;
    transform: translateX(2px) translateY(2px);
}

#like-pressed {
    box-shadow: none;
    background: linear-gradient(to top left, rgb(15, 129, 0), rgb(141, 255, 126));
}

#dislike-pressed {
    box-shadow: none;
    background: linear-gradient(to top left, rgb(170, 0, 0), rgb(255, 100, 100));
}

.like-button-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.8);
    animation: likehover infinite 6.5s;
} */