#united-states-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#united-states-map {
    width: 95%;
    height: 95%;
    padding: 0;
    margin: 0;
    position: fixed;
    object-fit: contain;
    z-index: -1;
}

.locations-people {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 5;
    position: absolute;
}

/* .locations-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.01);
    z-index: 10;
} */

/* States ClassNames */
.Georgia {
    /* left: 75%;
    top: 62%; */
    left: 1443px;
    top: 615px;
}

.Illinois {
    left: 65.5%;
    top: 37%;
}

.Maryland {
    left: 82.5%;
    top: 35.5%;
}

.Michigan {
    left: 71%;
    top: 26%;
}

.NewJersey {
    left: 85%;
    top: 33%;
}

.NewYork {
    left: 83%;
    top: 22%;
}

.Tennessee {
    left: 70.3%;
    top: 52.5%;
}

.Texas {
    left: 52%;
    top: 70%;
}

.Virginia {
    left: 81%;
    top: 43%;
}