/* #united-states-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    height: 100vh;
} */

#united-states-map {
    width: 95%;
    height: 95%;
    padding: 0;
    margin: 0;
    position: fixed;
    object-fit: contain;
    z-index: -1;
}

.locations-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 18;
}

.locations-modal-box {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 19;
    border-radius: 10px;
}

.locations-image {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: black;
}

.locations-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    color: #141414;
}

.locations-modal-content button{
    padding: 10px 24px;
    background: #141414;
    color: white;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 20;
    cursor: pointer;
}

.locations-modal-list {
    list-style: none;
}

.locations-modal-image {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations-states {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 5;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.75);
}

.locations-states:hover {
    transform: scale(1.2);
    z-index: 6;
}

.locations-states:active {
    opacity: 0.7;
}

/* States Bubbles */
#georgia {
    left: 75%;
    top: 62%;
    background: rgb(255, 171, 185);
    color: black;
    animation: georgiaflash 3.75s infinite;
}

#illinois {
    left: 65.5%;
    top: 37%;
    background: rgb(223, 219, 11);
    color: black;
    animation: illinoisflash 3.75s infinite;
}

#maryland {
    left: 82.5%;
    top: 35.5%;
    background: rgb(173, 0, 173);
    color: white;
    animation: marylandflash 3.75s infinite;
}

#michigan {
    left: 71%;
    top: 26%;
    background: navy;
    color: white;
    animation: michiganflash 4.5s infinite;
}

#new-jersey {
    left: 85%;
    top: 33%;
    background:rgb(0, 181, 194);
    color: black;
    animation: newjerseyflash 4.5s infinite;
}

#new-york {
    left: 83%;
    top: 22%;
    background: black;
    color: white;
    animation: newyorkflash 3s infinite;
}

#tennessee {
    left: 70.3%;
    top: 52.5%;
    background: rgb(0, 175, 0);
    color: black;
    animation: tennesseeflash 4.5s infinite;
}

#texas {
    left: 52%;
    top: 70%;
    background: maroon;
    color: white;
    animation: texasflash 3s infinite;
}

#virginia {
    left: 81%;
    top: 43%;
    background: rgb(255, 166, 0);
    color: black;
    animation: virginiaflash 3s infinite;
}

/* States Keyframes */
/* 3s Flashes */
@keyframes newyorkflash {
    93% {
        background: black;
    }
    95% {
        background: linear-gradient(to top right, white, white, black);
    }
    97% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, black, black, white);
    }
}

@keyframes texasflash {
    93% {
        background: maroon;
    }
    95% {
        background: linear-gradient(to top right, white, white, maroon);
    }
    97% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, maroon, maroon, white);
    }
}

@keyframes virginiaflash {
    93% {
        background: rgb(255, 166, 0);
    }
    95% {
        background: linear-gradient(to top right, white, white, rgb(255, 166, 0));
    }
    97% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, rgb(255, 166, 0), rgb(255, 166, 0), white);
    }
}

/* 3.75 Flashes */
@keyframes georgiaflash {
    96% {
        background: rgb(255, 171, 185);
    }
    97% {
        background: linear-gradient(to top right, white, white, rgb(255, 171, 185));
    }
    98% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, rgb(255, 171, 185), rgb(255, 171, 185), white);
    }
}

@keyframes illinoisflash {
    96% {
        background: rgb(223, 219, 11);
    }
    97% {
        background: linear-gradient(to top right, white, white, rgb(223, 219, 11));
    }
    98% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, rgb(223, 219, 11), rgb(223, 219, 11), white);
    }
}

@keyframes marylandflash {
    96% {
        background: rgb(173, 0, 173);
    }
    97% {
        background: linear-gradient(to top right, white, white, rgb(173, 0, 173));
    }
    98% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, rgb(173, 0, 173), rgb(173, 0, 173), white);
    }
}

/* 4.5s Flashes */
@keyframes michiganflash {
    96% {
        background: navy;
    }
    97% {
        background: linear-gradient(to top right, white, white, navy);
    }
    98% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, navy, navy, white);
    }
}

@keyframes newjerseyflash {
    96% {
        background: rgb(0, 181, 194);
    }
    97% {
        background: linear-gradient(to top right, white, white, rgb(0, 181, 194));
    }
    98% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, rgb(0, 181, 194), rgb(0, 181, 194), white);
    }
}

@keyframes tennesseeflash {
    96% {
        background: rgb(0, 175, 0);
    }
    97% {
        background: linear-gradient(to top right, white, white, rgb(0, 175, 0));
    }
    98% {
        background: white;
    }
    99% {
        background: linear-gradient(to top right, rgb(0, 175, 0), rgb(0, 175, 0), white);
    }
}