.paw-print-container {
    background: green;
    border: solid black 3px;
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paw-fingers-container {
    display: flex;
    justify-content: center;
}

.paw-fingers-container h1 {
    padding: 0;
    margin: 0 0 0 10px;
}

.paw-print {
    border-radius: 50%;
}

.main-paw-print {
    background: black;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: pink;
}

.paw-fingers {
    background: black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paw-toe-beans {
    background: pink;
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 20px 20px;
}

#paw1 {
    position: relative;
    top: 70px;
    right: 10px;
    transform: rotate(-30deg);
}

#paw2 {
    position: relative;
    bottom: 10px;
    transform: rotate(-15deg);
}

#paw3 {
    position: relative;
    bottom: 10px;
    left: 20px;
    transform: rotate(15deg);
}

#paw4 {
    position: relative;
    top: 85px;
    left: 20px;
    transform: rotate(30deg);
}

.inner-main-paw-print {
    background: pink;
    color: white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-main-paw-print form button{
    cursor: pointer;
    text-align: center;
}