.align-text-center {
    text-align: center;
    /* font-family: "Avenir Next Condensed", sans-serif; */
    text-transform: uppercase;
}

#smaller-playlist-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.smaller-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 5px; */
    width: 49.5%;
}

.playlist-border {
    border: 1px solid hidden;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.8);
}

.text-shadow {
    color: white; /* Black too*/
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 8px 8px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 700px) {
    .smaller-playlist {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        width: 100%;
    }
}

/* Playlist Buttons */
.playlist-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playlist-buttons-container button {
    width: 30.1%;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 20px;
    background: linear-gradient(to top, rgb(20, 19, 19), rgb(71, 65, 65));
    color: white;
    text-align: center;
    box-shadow: 2.5px 1px 1px rgba(255, 255, 255, 0.5);
}

.playlist-buttons-container button:active {
    opacity: 0.9;
    transform: translateX(2px) translateY(2px);
}

#like-pressed {
    box-shadow: none;
    background: linear-gradient(to top left, rgb(15, 129, 0), rgb(141, 255, 126));
}

#dislike-pressed {
    box-shadow: none;
    background: linear-gradient(to top left, rgb(170, 0, 0), rgb(255, 100, 100));
}

.like-button-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.8);
    animation: likehover infinite 6.5s;
}

@keyframes likehover {
    0% {
        box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.6);
    }
    10% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    20% {
        box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.6);
    }
    30% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    40% {
        box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.6);
    }
    50% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    60% {
        box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.6);
    }
    70% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    80% {
        box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.6);
    }
    90% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 0 2px 12px 4px rgba(0, 255, 55, 0.6);
    }
}

.dislike-button-hover:hover {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.8);
    animation: dislikehover infinite 6.5s;
}

@keyframes dislikehover {
    0% {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.6);
    }
    10% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    20% {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.6);
    }
    30% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    40% {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.6);
    }
    50% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    60% {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.6);
    }
    70% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    80% {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.6);
    }
    90% {
        box-shadow: 0 2px 12px 4px rgba(255, 255, 255, 0.6);
    }
    100% {
    box-shadow: 0 2px 12px 4px rgba(255, 0, 0, 0.6);
    }
}