.align-text-center {
    text-align: center;
    /* font-family: "Avenir Next Condensed", sans-serif; */
    text-transform: uppercase;
}

#smaller-playlist-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.smaller-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 5px; */
    width: 49.5%;
}

.playlist-border {
    border: 1px solid hidden;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.8);
}

.text-shadow {
    color: #000000;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 8px 8px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 700px) {
    .smaller-playlist {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        width: 100%;
    }
}